.curriculumContent{
    position: relative;
    background-color: #FCFCFC;
}

.wrapper{
    padding: var(--section-padding-top) 5%;
    display: inline-block;
    width: 60%;
    margin: 0 15%;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}

.item{
    padding: 2vw 0;
    position: relative;
}
.item:nth-child(1){
    padding-top: 0;
}
.item:nth-last-child(1){
    padding-bottom: 0;
}

.item:not(.item:nth-last-child(1)){
    border-bottom: 1px solid #D9D9D9;
}

.item h2{
    font-size: 2rem;
    color: var(--primary-color);
}

.item p{
    padding-right: 25%;
    font-size: 1.3rem;
    margin-top: 1vw;
    line-height: 160%;
}

.infoWrapper{
    padding: 4vw 0;
}

.info{
    display: inline-block;
    width: 40%;
    padding: 2.5%;
    background-color: #F0F8FF;
    margin: 1vw 2%;
    border: 1px solid #a3bbcf;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.info h2{
    text-align: center;
    font-size: 2.5rem;
}
.info p{
    font-size: 1.2rem;
    margin-top: 1vw;
    line-height: 180%;
    
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .item p{
        padding-right: 25%;
    }
    .item h2{
        font-size: 2.3rem;
        color: var(--primary-color);
    }
    .item{
        padding: 3vw 0;
    }
    
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .wrapper{
        width: auto;
        display: block;
        margin: 0;
    }

    .item{
        padding: 4vw 0;
    }

    .item h2{
        font-size: 2.5rem;
    }
    
    .item p{
        padding-right: 5%;
        font-size: 1.4rem;
        margin-top: 2vw;
    }
    
}